body{
	margin:0; 
	padding:0; 
	color:#999999; 
	background-color:#000; 
	font-size:12px; 
	font-family:Georgia, "Times New Roman", Times, serif;
}

br.clear{clear:both; margin-top:-15px;}

a{outline:none; text-decoration:none; color:#02CCFC; background-color:#000000;}

img{display:block; margin:50; padding:0; border:1px solid #C7C5C8; padding:5px;}

